* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, img, a {
    display: block;
}

/* general */
a {
    color: #000;
}

a:hover {
    color: #000;
}

.heading {
    padding: 1.5rem;
}


/* header */
header, footer {
    width: 100%;
    padding: 20px 0;
    background-color: #15f;
    color: #fff;
}

#headerTitle {
    display: inline-flex;
}

/* mian content */
.cards h2 {
    margin: 40px 0;
}

.card-items {
}

.card {
    position: relative;
    bottom: 0;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    border: 1px solid #eee;
    border-radius: 5px;
}

.card:hover {
    bottom: 10px;
}

.card img {
    margin: 0.5rem auto;
    width: 200px;
    height: 200px;
}

.card-body {
    padding: 15px 0;
    vertical-align: middle;
}

.card-body h3 {
    font-size: 1.5rem;
}

/* footer */
#footerContents {
    display: inline-flex;
}

.footer-nav {
    display: inline-flex;
    list-style-type: none;
}

.footer-nav .footer-logo {
    width: 180px;
}

.footer-nav li a, #footerContents p {
    padding: 0 30px;
    text-align: center;
    margin-right: 10px;
}
