* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, img, a {
    display: block;
}

/* general */
a {
    color: #fff;
}

a:hover {
    color: #fff;
}

.heading h2 {
    margin: 40px 0;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .heading h2 {
        margin: 40px 0;
        font-size: 1.5rem;
    }
}

/* header */
header {
    width: 100%;
    height: 80px;
    background-color: #15f;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

header a:hover, header a:focus, header a:visited {
    text-decoration: none;
}

.header-logo img {
    position: absolute;
    width: 120px;
    float: left;
}

header h1 {
    padding-top: 15px;
    text-align: center;
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .header-logo img {
        width: 100px;
        padding-top: 7px;
    }

    header h1 {
        padding-top: 20px;
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    header {
        height: 70px;
    }

    .header-logo img {
        width: 80px;
    }

    header h1 {
        padding-top: 22px;
        font-size: 1.2rem;
    }
}

/* mian content */
.cards, .column-layout-wrapper {
    margin: 80px 0;
}

.card {
    position: relative;
    bottom: 0;
    margin-bottom: 30px;
    color: #000;
    transition: bottom 0.3s ease;
    border: 1px solid #eee;
    border-radius: 5px;
}

.card:hover {
    bottom: 10px;
    color: #000;
}

.card img {
    margin: 0.5rem auto;
    width: 190px;
    height: 190px;
}

.card-body {
    padding: 15px 0;
    vertical-align: middle;
}

.card-body h3 {
    font-size: 1.5rem;
}

.banners-wrapper h2 {
    padding-bottom: 20px;
    border-bottom: 2px solid red;
}

#relatedSites {
    margin-bottom: 50px;
}

.banner {
    margin-bottom: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.banner img {
    margin: 0.5rem auto;
    width: 100%;
}

.goTop-wrapper {
    text-align: right;
}

.goTop {
    display: inline-flex;
    align-items: baseline;
    vertical-align: middle;
    padding: 10px 15px;
    background-color: #15f;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.goTop:hover, .goTop:focus, .goTop:visited {
    text-decoration: none;
    color: #fff;
}

.goTop::after {
    font-family: FontAwesome;
    content: "\f062";
    font-weight: 200;
}

.goTop p {
    margin: 0 10px 0 0;
}

.goTop img {
    width: 10px;
    height: 10px;
}

@media (max-width: 992px) {
    .goTop p {
        font-size: 0.8rem;
    }

    .goTop::after {
        font-size: 0.8rem;
    }
}

/* footer */
footer {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #15f;
    color: #fff;
    position: relative;
    z-index: 10;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.footer-logo {
    margin-right: 30px;
}

footer img {
    width: 120px;
    height: auto;
}

.footer-nav {
    margin-bottom: 0;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li a {
    color: #fff;
}

.divideFooterNavItems {
    margin: 0 10px;
}

.copyright {
    display: block;
    margin-bottom: 0;
    position: absolute;
    right: 0;
}

@media (max-width: 992px) {
    .footer-nav li a, .divideFooterNavItems, .copyright {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    footer img {
        width: 100px;
    }

    .divideFooterNavItems {
        margin: 0 5px;
    }

    .copyright {
        bottom: 5px;
    }
}

@media (max-width: 576px) {
    footer img {
        width: 80px;
    }

    .footer-nav li a, .divideFooterNavItems, .copyright {
        font-size: 0.5rem;
    }

    .copyright {
        position: unset;
    }
}


/*
*
* コラムページ
*
*/

.column-layout-wrapper a {
    color: #000;
}

.column-layout-wrapper a:hover, .left-menu-to-top:focus, .left-menu-to-top:visited {
    color: #000;
}

.column-layout-wrapper {
    position: relative;
}

.column-layout-wrapper a {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease;
}

.column-layout-wrapper a:hover, .left-menu-to-top:hover {
    color: #777;
    border-color: red;
    text-decoration: none;
}

.left-menu-nav {
    padding: 20px;
    height: fit-content;
    border: 3px solid #eee;
    border-radius: 5px;
    background-color: rgba(210, 210, 210, 0.2);
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.left-menu-nav h3 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    letter-spacing: 4px;
    border-bottom: 3px solid #eee;
}

.left-menu-nav ul {
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: left;
}

.left-menu-nav ul li {
    list-style-type: disc;
}

.left-menu-nav ul li::marker {
    color: #aaa;
}

.left-menu-to-top {
    width: fit-content;
    text-align: left;
    letter-spacing: 4px;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease;
}

.left-menu-nav.onSP {
    margin-bottom: 80px;
    position: inherit;
}

.column-content {
    display: inline-flex;
}

.column-content:not(:last-child) {
    margin-bottom: 50px;
    
}

.column-content img {
    border: 1px solid #eee;
    margin: 0 20px;
}

.column-content-list {
    text-align: left;
    list-style-type: none;
}

.column-content-list li a::before {
    padding-right: 5px;
    font-family: FontAwesome;
    content: "\f00c";
    font-weight: 200;
    color: #aaa;
}

@media (max-width: 768px) {
    .column-content img {
        margin: 0 30px 0 0;
        padding-left: 0;
    }
}

/** media query **/
@media (max-width: 992px) {
    .left-menu-nav h3 {
        font-size: 1rem;
    }

    .left-menu-nav ul li {
        font-size: 0.8rem;
    }

    .left-menu-to-top {
        font-size: 0.8rem;
    }

    .column-content-list li {
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .column-content img {
        width: auto;
        height: 120px;
    }
}
