* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, img, a {
    display: block;
}

/* general */
a {
    color: #000;
}

a:hover {
    color: #000;
}

.heading {
    padding: 1.5rem;
}


/* header */
header, footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 20px 0;
    background-color: #15f;
    color: #fff;
}

header img {
    float: left;
    width: 120px;
    height: auto;
}

header h1 {
    text-align: center;
}

/* mian content */
.cards {
    margin-bottom: 50px;
}

.cards h2 {
    margin: 40px 0;
}

.card {
    position: relative;
    bottom: 0;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    border: 1px solid #eee;
    border-radius: 5px;
}

.card:hover {
    bottom: 10px;
}

.card img {
    margin: 0.5rem auto;
    width: 200px;
    height: 200px;
}

.card-body {
    padding: 15px 0;
    vertical-align: middle;
}

.card-body h3 {
    font-size: 1.5rem;
}

#relatedSites {
    margin-bottom: 50px;
}
.banner {
    margin-bottom: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.banner img {
    margin: 0.5rem auto;
}

.goTop-wrapper {
    text-align: right;
}
.goTop {
    display: inline-flex;
    align-items: baseline;
    vertical-align: middle;
    padding: 10px 15px;
    background-color: #15f;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.goTop p {
    margin: 0 10px 0 0;
}

.goTop img {
    width: 10px;
    height: 10px;
}

/* footer */
#footerContents {
    display: flex;
    align-items: center;
}

.footer-nav {
    margin-bottom: 0;
}

.footer-nav li {
    display: inline-block;
    margin-right: 80px;
}

.footer-nav li a {
    color: #fff;
}

.copyright {
    text-align: right;
}