/* properties for footer */
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 15px;
    background-color: #A1A1A1;
    font-size: 0.8rem;
    z-index: 10;
}



#copyright {
    text-align: right;
}

@media (max-width: 768px) {
    #copyright {
       text-align: center;
    }
}

/* bootstrap extends */
.footer .row {
    height: 50px;
    align-items: center;
}

.footer .dropup {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.dropdownMenuButton {
    font-size: 0.9rem;
    font-weight: lighter;
}

@media (max-width: 768px) {
    .dropdownMenuButton {
       width: 100%;
       padding-bottom: 15px;
       text-align: center;
    }
}

.contacts p {
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    .upperContact {
        display: none;
    }
}

@media (min-width: 768px) {
    .lowerContact {
        display: none;
    }
}

.copyright {
    text-align: right;
}

@media (max-width: 768px) {
    .copyright {
       text-align: center;
    }
}