/* properties for footer */
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #A1A1A1;
    font-size: 0.8rem;
    z-index: 10;
}

#contacts p {
    margin-bottom: 0;
    font-weight: bold;
}

#contacts p:last-child {
    text-align: center;
}

#copyright {
    text-align: right;
}

@media (max-width: 768px) {
    #copyright {
       text-align: center;
    }
}

/* bootstrap extends */
.footer .row {
    align-items: center;
}

.footer .dropup {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.dropdownMenuButton {
    width: 160px; 
    font-size: 0.9rem;
    font-weight: lighter;
}

.contacts p {
    margin-bottom: 0;
    font-weight: bold;
}

.contacts p:last-child {
    text-align: center;
}

.copyright {
    text-align: right;
}

@media (max-width: 768px) {
    .copyright {
       text-align: center;
    }
}