.toLeft {
    padding-top: 15px;
    background-color: #130024;
}

.toRight {
    padding-left: 0;
    padding-right: 0;
}

.mainWrapper .container {
    margin-left: 0;
}

.mainContentsWrapper {
    display: block;
}

/* Bootstrap extention */

.breadcrumbWrapper > .breadcrum {
    background-color: transparent !important;
}

.breadcrumbWrapper > .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
  }