@import "../styles/_variables.scss";

.leftMenuWrapper {
    padding-top: 15px;
    min-height: 100vh;
    background-color: $theme_purple;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    @media (max-width: 575px) {
        min-height: 42px;
    }
}

.topMenuWrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    padding-right: 0;
    padding-left: 0;
    background-color: $theme_light_gray;

    @media (max-width: 575px) {
        top: 42px;
    }
}

.mainContentWrapper {   
    z-index: 0;
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 575px) {
        top: 40px;
    }

}

.footerWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
}

/* Bootstrap extention */
.breadcrumNav {
    background-color: $theme_light_gray !important;
    box-shadow: 0px 5px 15px -10px $theme_purple;
}


.breadcrumNav ol {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px; 
    background-color: $theme_light_gray !important;
    font-size: 0.8rem;
}

.breadcrumItem + .breadcrumItem::before {
    content: ">";
  }