.toLeft {
    padding-top: 15px;
    background-color: #130024;
}

.toRight {
    padding-left: 0;
    padding-right: 0;
}

.mainWrapper .container {
    margin-left: 0;
}

.mainContentsWrapper {
    /* anything it's needed.. */
}

/* Bootstrap extention */

.breadcrumNav ol {
    background-color: transparent !important;
}

.breadcrumItem + .breadcrumItem::before {
    content: ">";
  }