@import "../styles/_variables.scss";

.toLeft {
    padding-top: 15px;
    min-height: 100vh;
    background-color: $theme_purple;
}

.toRight {
    padding-left: 0;
    padding-right: 0;
    min-height: 100vh;
    background-color: $theme_light_gray;
}

.topMenuPosition {
    position: sticky;
    top: 0;
    z-index: 10;
}

.mainWrapper .container {
    margin-left: 0;
}

.mainContentsWrapper {
    /* anything it's needed.. */
}

/* Bootstrap extention */
.breadcrumNav {
    background-color: $theme_light_gray !important;
    box-shadow: 0px 5px 15px -10px $theme_purple;
}


.breadcrumNav ol {
    padding-top: 5px;
    padding-bottom: 5px; 
    background-color: $theme_light_gray !important;
    font-size: 0.8rem;
}

.breadcrumItem + .breadcrumItem::before {
    content: ">";
  }