.leftMenuTitle {
    display: flex;
    flex-direction: row;
}

.leftMenuTitle h1 {
    margin-left: 10px;
    font-size: 1.2rem;
}

.leftMenuTitle img {
    width: 20px;
    height: 20px;
}

.leftMenuNavItems {
    display: inline-flex;
    align-items: center;
    margin: 0 -15px;
}

.leftMenuNavItems img {
    margin-right: 15px;
    margin-left: 30px;
}

.leftMenuNavItems a {
    width: 100%;
}

.leftMenuNavItems:hover {
    background-color: rgba(211, 211, 211, 0.5);
}

.leftMenuNavItems img {
    width: 20px;
    height: 20px;
}

.leftMenuNavItems.nav-item > a.nav-link.active {
    background-color: gray;
}

@media (max-width: 768px) {
    .leftMenuTitle img,
    .leftMenuNavItems img {
        display: none;
    }
}

.leftMenuNavItems a {
    padding: 0.5rem;
    font-size: 0.9rem;
}